@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");
.container-countdown{
    display: flex;
    /* width: 25em; */
    justify-content: space-around;
}
.container-countdown p{
    margin: 20px;
    font-size: 1.4em;
    font-family: "Bruno Ace", cursive;
    
}
.count-heading{

}
@media (max-width:626px){
    .container-countdown p{
        font-size: 1em;
    }
}