@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");
@property --glow-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #ADF5FF;
}
:root {
  --gap: 0.125rem;
  --triangle-base: 3rem;
  --triangle-base-height: calc(1.733 * var(--triangle-base));
  --triangle-width: calc(var(--triangle-base) - var(--gap));
  --triangle-height: calc(var(--triangle-base-height) - var(--gap));
}

html, body {
  background: #11131E;
  height: 100%;
  width: 100%;
}
.hero {
  position: relative;
  background: radial-gradient(#2C666E, #161B33);
  background-size: 400% 400%;
  background-position: 100% 100%;
  height: 93vh;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: calc(var(--gap) * 2);
  overflow: hidden;
  animation: bg-animation 20s alternate infinite;
}
@keyframes bg-animation {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 400% 400%;
  }
}
#glow {
  position: absolute;
  width: 50vw;
  height: 100vw;
  background: radial-gradient(circle closest-side, var(--glow-color), transparent);
  animation: glow-animation 5.2s ease infinite alternate;
  transform: translate(-50%, -50%);
}

@keyframes glow-animation {
  from {
    --glow-color: #ADF5FF;
    transform: translate(-50%, -50%) scale(0.5);
  }
  to {
    --glow-color: #FF6978;
    transform: translate(-50%, -50%) scale(1) rotate(90deg);
  }
}
.triangle-container {
  display: grid;
  grid-template-columns: repeat(var(--columns), calc(var(--triangle-base) * 2 + var(--gap)));
  width: 100%;
  height: 100%;
}

.triangle-set {
  display: inline-block;
  position: relative;
  width: calc(var(--triangle-base) * 2 + var(--gap));
  height: var(--triangle-base-height);
}
.triangle-set--offset {
  transform: translateX(calc(-1 * var(--triangle-base) - 0.5 * var(--gap)));
}
.triangle-set::before, .triangle-set::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: var(--gap);
  border-right: var(--triangle-width) solid transparent;
  border-left: var(--triangle-width) solid transparent;
}
.triangle-set::before {
  left: calc(-1 * var(--triangle-base));
  border-bottom: var(--triangle-height) solid #0D0C1D;
}
.triangle-set::after {
  right: calc(var(--gap) * 2.5);
  border-top: var(--triangle-height) solid #0D0C1D;
}

.hero h1 {
  /* position: absolute;
  left: 50%;
  top: 50%; */
  padding: 1rem;
  /* transform: translate(-50%, -50%); */
  /* background: #0D0C1D; */
  border-radius: 5rem;
  box-shadow: 0 0 1rem 1rem #0D0C1D;
  color: white;
  font-size: 3.5em;
  font-family: "Bruno Ace", cursive;
  text-align: center;
  background: #810ccf;
  background: linear-gradient(to top left, #810ccf 0%, #cf44a1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.container-landing{
  
  transform: translate(-50%, -50%);
  display:flex;
  flex-direction:row;
  z-index: 2;
  
}
.left-landing{
  position: absolute;
  left: 6%;
  top: 30%;
  width:35em;
  height: 20em;
  padding: 20px;
  /* height:20em; */
  /* border: 2px solid white; */
  border-radius: 20px;
  background:rgb(13,12,29,0.7);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align: center;
}

.right-landing{
  position: absolute;
  right: 5%;
  top: 15%;

}
.right-landing img{
  height: 40em;
}

.button-landing {
  width: 18em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.button-landing::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #212121;
  transition: 0.5s;
  transform-origin: center;
}

.button-landing::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #212121;
  transition: 0.5s;
}

.button-landing:hover::before, .button-landing:hover::after {
  transform: scale(0)
}

.button-landing:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}

@media (max-width:1186px){
  .left-landing{
    width: 30em;
    height: 20em;
    top: 60%;
    left:25%
  }
  .right-landing{
    top: 10%;
    left: 30%;
  }
  .right-landing img{
    height: 25em;

  }
}
@media (max-width:626px){
  .left-landing{
    width:100%;
    height: 20em;
    top: 48%;
    left:0%
  }
  .right-landing{
    top: 0%;
    left: 3%;
  }
  .right-landing img{
    height: 25em;
  
  }
  .hero h1{
    font-size: 35px;
  }
  .container-countdown p{
    margin: 20px;
    font-size: 0.9em;
    font-family: "Bruno Ace", cursive;
    
}
}